<!DOCTYPE html>
<html>
    <head>
        <title>guideMichelin</title>
        </head>
    <body>
        <h1>guideMichelin</h1>
        <p> Bonjour {{nom}}: Guide Michelin ... trouvez un restaurant </p>
        <a href="{{ path('guideMichelin_menu') }}">lien vers menu</a>
    </body>
</html>