<!DOCTYPE html>
<html>
    <head>
        <title>guideMichelin</title>
        </head>
    <body>
        <h1>guideMichelin</h1>
        <p> Bonjour : Guide Michelin ... trouvez un restaurant </p>
    </body>
</html>