<!DOCTYPE html>
<html>
    <head>
        <title>guideMichelin</title>
        </head>
    <body>
        <h1>Menu</h1>
        <p>Bienvenue dans le menu du Guide Michelin</p>
        <a href="{{ path('guideMichelin_accueil') }}">lien vers accueil</a>   
    </body>
</html>